$background-purple: #05010E;
$background-stars: #ffe9cd;
$background-red-brown: #3A1403;
$text-off-white: #F0E7E7;
$accent-purple: #8E6C88;
$accent-orange: rgba(153, 53, 11, 0.37);
$accent-teal: rgba(65, 97, 101, 0.32);