@import "../../../design/_scss-variables.scss";

.rover-info-wrapper {
  max-width: 800px;
  background-color: rgba($accent-teal, 0.32);;
  border-radius: 10px;
  color: $text-off-white;
  margin: 0 auto;
  padding: 1px 0;
}

.rover-profile-img {
  width: 100px;
  height: 100px;
  border: solid 5px $accent-purple;
  border-radius: 10px;
}

.rover-info {
  border: solid 1px $accent-orange;
  padding: 20px;
  margin: 20px 20px;
  border-radius: 10px;
}

.rover-details {
  display: flex;
  align-items: center;
  gap: 20px;
}

.reverse {
  justify-content: flex-end;
}

.rover-name {
  font-size: 1.2em;
}

.rover-status {
  font-size: 1.2em;
}