* {
  box-sizing: border-box;
}

element.style{
  pointer-events: none;
}

canvas {
  width: 600px;
  height: 600px;
  margin: 0 auto;
}

div.marker-label {
  border: 1px solid #888888;
  padding: 5px;
  border-radius: 3px;
  width: 100px;
  background-color: rgba(142, 108, 136, 0.35);
  color: white;
  text-align: center;
}