@import "../../../design/_scss-variables.scss";

* {
  box-sizing: border-box;
}

div.marker-label {
  border: 1px solid #888888;
  padding: 5px;
  border-radius: 3px;
  width: 100px;
  background-color: rgba($accent-purple, 0.35);
  color: white;
  text-align: center;
}
