@import '../../../design/_scss-variables.scss';
@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');

* {
  font-family: 'Space Mono', monospace;
}

label, legend {
  color: $text-off-white;
  border-radius: 10px;
}
.photo-viewer-form {
  background-color: rgba($accent-orange, 0.7);
  border-radius: 10px;
  padding: 10px;
  margin: 0 10px;
}

fieldset {
  border-radius: 10px;
}

.form-radio-container {
  margin: 5px 0;
}

.day-selector {
  margin: 5px 0;
}

#dropdown {
  width: 200px;
}

#numeric-input {
  width: 100px;
}

.submit-button {
  margin-top: 20px;
}