* {
  box-sizing: border-box;
}

canvas {
  width: 800px;
  height: 800px;
  margin: 0;
  padding: 0;
}

div.label {
  border: 1px solid #888888;
  padding: 5px;
  border-radius: 3px;
  width: 100px;
  background-color: rgba(65, 97, 101, 0.32);
  color: white;
  text-align: center;
}