$background-purple: #05010E;
$background-stars: #ffe9cd;
$background-red-brown: #3A1403;
$text-off-white: #F0E7E7;
$accent-purple: #8E6C88;
$accent-orange: #99350B;
$accent-teal: rgba(65, 97, 101, 0.31);

* {
  box-sizing: border-box;
}

.intro-section-text p {
  color: $text-off-white;
  margin-block: 0;
  background-color: $accent-teal;
  padding: 10px;
  max-width: 800px;
  margin: 0 auto;
  border-radius: 10px;
}