@import "../../../design/scss-variables";

.SliderImages{
  position: relative;
  max-width: 60vw;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.singleImage{
  min-width: 20vw;
  max-width: 70vw;
  height: auto;
  border-radius: 10px;

}

.right-arrow{
  position: absolute;
  top:50%;
  right: 32px;
  color: white;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.left-arrow{
  position: absolute;
  top:50%;
  color: white;
  left: 32px;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.slide {
  opacity: 0;
  transition-duration: 1s;
}

.slide-active{
  opacity: 1;
  transition-duration: 1s;
  transform: scale(1.08);
}