@import "../../../design/_scss-variables.scss";

.placeholder {
  max-width: 800px;
  background-color: rgba($accent-purple, 0.22);
  border-radius: 10px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;;
}
.placeholder h2 {
  color: $text-off-white;
}

.placeholder-img {
  width: 80%;
  height: auto;
  border-radius: 10px;
  margin: 10% 0;
}
