.SliderImages{
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.singleImage{
  object-fit: cover;
  width: 80vw;
  height: 600px;
  border-radius: 10px;

}

.right-arrow{
  position: absolute;
  top:50%;
  right: 32px;
  color: white;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.left-arrow{
  position: absolute;
  top:50%;
  color: white;
  left: 32px;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.slide {
  opacity: 0;
  transition-duration: 1s;
}

.slide-active{
  opacity: 1;
  transition-duration: 1s;
  transform: scale(1.08);
}