$background-purple: #05010E;
$background-stars: #ffe9cd;
$background-red-brown: #3A1403;
$text-off-white: #F0E7E7;
$accent-purple: #8E6C88;
$accent-orange: rgba(153, 53, 11, 0.37);
$accent-teal: rgba(65, 97, 101, 0.32);

@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');

//Title section
// TODO Add media enquiry for mars model

.page-container {
  position: relative;
}

.title-container {
  font-family: 'Space Mono', monospace;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  text-align: center;
}

.title-container h1{
  //background-color: $accent-purple;
  color: $text-off-white;
  padding: 10px;
  border-radius: 10px;
  //border-style: solid;
  font-size: 3.5em;
  max-width: 250px;
  margin: 80px auto;
}

//Mars model

.mars-model-wrapper {
  width: 700px;
  height: 500px;
}

.mars-model-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

//Intro Section

.intro-section-container {
  width: 100%;
}

//Photo Gallery
.photo-gallery-placeholder {
  margin: 50px 10px;
}

//Rover info
.rover-info-container {
  margin: 50px 10px;
}


