.single-star {
    position: fixed;
    border-radius: 25%;
    background-color: rgb(255, 233, 205);

    animation: star-twinkle infinite;
}

@keyframes star-twinkle {
    0% {
        transform: scale(1.0);
    }
    10% {
        transform: scale(1.7);
    }
    15% {
        transform: scale(0.5);
    }
    20% {
        transform: scale(1.0);
    }
}
